<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
			<div th:switch="${onedocument}" class="container my-5">
		        <h3>Document (<span th:text="${modus.showMode}" />)</h3>
                <form action="#" 
                	th:action="@{/documents/post{save_or_delete}/{documentid}(documentid=${onedocument.id},save_or_delete=${modus.showReadonly})}" 
                	th:object="${onedocument}" 
                	method="post"
                	enctype="multipart/form-data">
					<div class="col-md-10">
						<table class="table table-responsive-md">
                            <tr>
								<td> 
	                                <label for="document" class="col-form-label">Document</label>
								</td>
								<td>
    	                            <input type="file" name="documentfile"
    	                            	th:readonly="${modus.showReadonly=='delete'}"
                	                	class="form-control-file" 
                    	            	id="documentfile" 
                        	        	placeholder="Document" />
								</td>
							</tr>
                           <tr>
								<td> 
	                                <label for="documentOriginalTable" class="col-form-label">Application table</label>
								</td>
								<td>
  	                              <select th:field="*{documentOriginalTable}" 
               	    					th:disabled="${modus.showReadonly=='delete'}"
           	    	                 	class="form-control-ansible">
                 	    				<option th:each="originaltable : ${commonoriginaltables}" th:value="${originaltable.table}" th:utext="${originaltable.table}"/>
              						</select>
                                <span th:if="${#fields.hasErrors('documentOriginalTable')}" th:errors="*{documentOriginalTable}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>
								<td> 
	                                <label for="documentOriginalID" class="col-form-label">Application ID</label>
                                </td>
								<td>
    	                            <input type="text" 
                                		th:size="16" 
                                		th:field="*{documentOriginalID}"
	                    				th:readonly="${modus.showReadonly=='delete'}"
    	                            	class="form-control" 
        	                        	id="documentOriginalID" 
            		                   	placeholder="Primaire sleutel" />
                    	            <span th:if="${#fields.hasErrors('documentOriginalID')}" th:errors="*{documentOriginalID}" class="text-danger"></span>
								</td>
							</tr>
						</table>																	
                    </div>
                  
                    <div class="form-group">
                         <input type="submit" class="btn btn-primary" th:value="${modus.showPosttext}" />
                         <a th:href="@{/documents/}" class="btn btn-primary">Cancel</a>
                    </div>
				</form>
			</div>
        </div>
    </div>
</body>

</html>