<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
        	<div class="card-body">
                <div th:switch="${alldocuments}" class="container my-5">
                    <div class="col-md-10">
				       	<h3>Documents</h3>
                        <p th:case="null">No documents available ...</p>
	                    <p><a th:href="@{/documents/new}" class="btn btn-primary">New document</a></p>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Document</th>
                                        <th>Application table</th>
                                        <th>Application ID</th>
                                        <th>Size</th>
                                        <th>Latest action</th>
                                        <th>Updated</th>
                                        <th colspan="3">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="onedocument : ${alldocuments}">
                                        <td th:text="${onedocument.documentname}"></td>
                                        <td th:text="${onedocument.documentOriginalTable}" th:size="20"></td>
                                        <td th:text="${onedocument.documentOriginalID}" th:width="15"></td>
                                        <td th:text="${onedocument.documentsize}" th:width="9"></td>
                                        <td th:text="${onedocument.documentAction}" th:width="9"></td>
                                        <td th:text="${onedocument.documentupdated}" th:width="3"></td>
                                        <td>
                                        	<a th:href="@{/documents/download/{documentid}(documentid=${onedocument.id})}" class="btn btn-primary">Open/Edit on PC</a>
                                        </td>
                                        <td>
                                        	<a th:href="@{/documents/download-withoutclient/{documentid}(documentid=${onedocument.id})}" class="btn btn-primary">Download and Open</a>
                                        </td>
                                        <td>
                                        	<a th:href="@{/documents/delete/{documentid}(documentid=${onedocument.id})}" class="btn btn-primary">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/common-footer_options :: common-footer_options"/>
    <th:block th:replace="fragments/common-footer :: common-footer"/>
</body>
</html>