<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
			<div th:switch="${onedomain}" class="container my-5">
		        <h3>Domain (<span th:text="${modus.showMode}" />)</h3>
                <form action="#" 
                	th:action="@{/domain/post{save_or_delete}/{domainid}(domainid=${onedomain.id},save_or_delete=${modus.showReadonly})}" 
                	th:object="${onedomain}" 
                	method="post">
					<div class="col-md-10">
						<table class="table table-responsive-md">
                            <tr>
								<td> 
	                                <label for="domainname" class="col-form-label">Domain DNS-name</label>
								</td>
								<td>
								<td>
    	                            <input type="text" 
                                		th:size="40" 
                                		th:field="*{domainname}"
	                    				th:readonly="${modus.showReadonly=='delete'}"
    	                            	class="form-control" 
        	                        	id="domainname" 
            		                   	placeholder="Domein DNS-naam" />
                    	            <span th:if="${#fields.hasErrors('domainname')}" th:errors="*{domainname}" class="text-danger"></span>
								</td>
							</tr>
						</table>																	
                    </div>
                  
                    <div class="form-group">
                         <input type="submit" class="btn btn-primary" th:value="${modus.showPosttext}" />
                         <a th:href="@{/domain/}" class="btn btn-primary">Cancel</a>
                    </div>
				</form>
			</div>
        </div>
    </div>
</body>

</html>