<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
        	<div class="card-body">
                <div th:switch="${alldocuments}" class="container my-5">
                    <div class="col-md-10">
				       	<h3>Domain</h3>
                        <div th:case="*">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Domain DNS-name</th>
                                        <th colspan="1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="onedomain : ${alldomains}">
                                        <td th:text="${onedomain.domainname}"></td>
                                        <td>
                                        	<a th:href="@{/domain/edit/{domainid}(domainid=${onedomain.id})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/common-footer :: common-footer"/>
</body>
</html>