<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5-ansible">
				    <form th:action="@{/forgot/send}" th:object="${user}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<h3>Request Password Reset</h3>
								</div>
							<div class="form-group col-md-8 my-5-password">
    	    					<label for="email" class="col-form-label">Emailaddress</label>
								<input type="text" 
                            		th:size="48" th:field="${user.emailaddress}"
                    				class="form-control-ansible" 
                        	        id="email" 
                    	            placeholder="youremailaddres@domain" />
               				</div>

							<div class="form-group col-md-8">
    	                    	<p th:text="${message}"></p>
							</div>
							
            	            <div class="form-group col-md-8">
        	                     <input type="submit" class="btn btn-primary" th:value="Send" />
    	                         <a th:href="@{/login}" class="btn btn-primary">Cancel</a> 
	                        </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	
</body>
</html>