<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
		   	<div class="card-body">
				<div class="container my-5">
				<form th:action="@{/login}" method="post">
					<table class="table-borderless table-sm">
						<tr>
							<th></th>
							<td colspan="2">
								<h3>Login</h3>
							</td>
						</tr>
						<tr>
							<th></th>
							<td colspan="2">
								<div th:if="${param.error}">
									<div class="alert alert-danger">Invalid username of password.</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
							</th>
							<td colspan="2">
								<div th:if="${param.logout}">
									<div class="alert alert-dark">You logged out.</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<label for="username">Username (emailaddress)</label>
							</th>
							<td colspan="2">
								<input type="text"
									id="username" name="username" size="32" class="form-control-editabledocuments"
									autofocus="autofocus" placeholder="Username (emailaddress)" />
							</td>
						</tr>
						<tr>
							<th>
								<label for="password">Password</label>
							</th>
							<td>
								<input type="password"
									id="password" name="password" size="32" class="form-control-editabledocuments" placeholder="Password" />
							</td>
							<td>
								<a href="/editdocuments/forgot">Forgot your password?</a>
							</td>
						</tr>
						<tr>
							<th class="col-form-label-rubrieken">
							</th>
							<td>
								<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<th class="col-form-label-rubrieken">
							</th>
							<td>
								<a href="/" th:href="@{/registration}">Signup as a new user</a>
							</td>
							<td>
							</td>
						</tr>
					</table>
					<p />
				</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>