<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5-ansible">
					<h3>Password Reset</h3>
					<p th:text="${redirectuser.emailaddress}"></p>
					<p>Check your mailbox. A link to reset your password has been sent.</p>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</html>