<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/common-tab_and_style :: common-tab_and_style"/>
<body>
	<th:block th:replace="fragments/common-header :: common-header"/>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5-ansible">
				    <form id="resetpasswordform" th:action="@{/forgot/save}" th:object="${resetuser}" method="post">
						<div class="form-group col-md-8">
							<h3>Password Reset</h3>
   	                    </div>
						<div class="col-md-10">
						<table class="table table-responsive-md">
                            <tr>
								<td> 
	    	                        <label for="email" class="col-form-label">Emailaddress</label>
	                        	</td>
								<td>
									<input type="text" 
        	                    		th:size="48" th:field="${resetuser.emailaddress}"
            	                		th:readonly="true"
                	    				class="form-control-ansible" 
                    	    	        id="email" 
                    		            placeholder="youremailaddres@domain" />
								</td>
							</tr>
                           <tr>
								<td> 
	    	                        <label for="email" class="col-form-label">New Password</label>
								</td>
								<td>
									<input type="password" 
        	                    		th:size="24" th:field="${resetuser.password}"
            	                		class="form-control-ansible" 
                	        	        id="password" 
                    	    	        name="password" 
                        		        required="required" 
                    	    	        placeholder="password" />
								</td>
							</tr>
							<tr>
								<td> 
	    	                        <label for="email" class="col-form-label">Confirm New Password</label>
                                </td>
								<td>
									<input type="password" 
    	                        		th:size="24" th:field="${resetuser.confirmPassword}"
        	                    		class="form-control-ansible" 
            	            	        id="confirmpassword" 
                	        	        name="confirmpassword"
                    	    	        required="required"  
                    		            placeholder="confirm password" />
								</td>
							</tr>
							<tr>
								<td> 
                                </td>
								<td>
        	                     <input type="submit" name="submit" class="btn btn-primary" th:value="Save" onclick="return validatePasswords()"/>
    	                         <a th:href="@{/login}" class="btn btn-primary">Cancel</a> 
								</td>
							</tr>
						</table>																	
                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<script language='javascript' type='text/javascript'>

	function validatePasswords() {
    	var password = document.getElementById("password").value;
    	var confirmPassword = document.getElementById("confirmpassword").value;
    	if (password != confirmPassword) {
        	alert("Passwords do not match.");
        	return false;
    	}
    	return true;
	}

</script>	

</html>