<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="common-footer_options">
	<footer>
		    <div class="container my-2">
        		<div class="card">
        			<div class="card-body">
                		<div class="container my-5-documenten">
							<ul class="nav navbar-nav">
    	                		<li sec:authorize="isAuthenticated()">
   	    	            			<a class="btn btn-primary" th:href="@{/domain/}">Edit domainname</a> 
	   	            			</li>
							</ul>
						</div>
					</div>
				</div>
        	</div>
    	</span>
	</footer>
</th:block>
</body>
</html>