<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-klant">
	<div class="card">
		<div class="card-subheader">
			<table class="table-borderless table-sm">
				<tbody>
					<tr>
						<th width="200px">Klantcode</th>
						<td width="200px" th:text="${klant.klantcode}"></td>
						<th width="200px">Klantnaam</th>
						<td th:text="${klant.klantnaam}"></td>
					</tr>
					<tr>
						<th width="200px">ROS-id</th>
						<td width="200px" th:text="${klant.klantrosid}"></td>
						<th width="200px">Naam in DNS-naam</th>
						<td th:text="${klant.klantvriendelijkenaam}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<p />
</th:block>
</html>