<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="common-environment">
	    		<div class="card">
		    		<div class="container my-5">
						<h3 th:text="${organization.rosorganisationname}"></h3>
							<table class="table-borderless table-sm">
								<tbody>
									<tr>
										<th>jdbc-URL</th>
										<td th:text="${environment.environmenturl}"></td>
									</tr>
								<tr>
									<th>User</th>
									<td th:text="${environment.environmentuser}"></td>
								</tr>
							</tbody>
						</table>
			</div>
			</div>
		</th:block>
	</body>
</html>