<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="common-footer-home">
	<footer>
		    <div class="container my-2">
        		<div class="card">
        			<div class="card-body">
                		<div class="container my-5-documenten">
							<ul class="nav navbar-nav">
    	                		<li sec:authorize="isAuthenticated()">
   	    	            			<a class="btn btn-primary" th:href="@{/}">Home</a> 
   		    	        			<a class="btn btn-primary" th:href="@{/logout}">Log Off</a>
			                    	<a th:href="@{/users/}" class="btn btn-primary">Users</a>
   	        	    				&nbsp;Logged in as:&nbsp;
   	            					<b><span th:text="${authenticated.name}"></span></b>
	   	            			</li>
							</ul>
						</div>
					</div>
				</div>
        	</div>
    	</span>
	</footer>
	
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    
</th:block>
</body>
</html>