<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="common-header">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"> <img
					th:src="@{/images/itris-logo.jpg}" alt="itris-logo-not_found" />
				</a>
			</div>
		</nav>
	</th:block>
</body>
</html>